<div class="post">

  <h2>Edit Post</h2>

  {{input value=title placeholder=title class="input"}}

  {{textarea value=body placeholder=body rows='6' class="input"}}

  <button {{action 'editPost' model}}>Update Post</button>

</div>
