<div class='post'>

  <h2>New Post</h2>

  {{input value=postTitle placeholder="Enter post title here" class="input"}}

  {{textarea value=postBody placeholder="Write your post here" rows='6' class="input"}}

  <button {{action 'newPost'}}>Create New Post</button>

</div>
